{# Default values #}
{% set headingElement = (params.headingElement | enforced) if params.title %}
{% set imageAlt = params.imageAlt or ''%}
{% set url = params.url or '#' %}
{# Optional Values #}
{% set description = params.description %}
{% set title = params.title %}
{% set time = params.time %}
{% set imageUrl = params.imageUrl  %}

{# Advanced #}
{% set a = "Title is redundant with alt text" | enforced(true) if title === imageAlt%}

{# Component template #}
{# - The image is considered decorative as the title already provides enough information. Avoid redundant content -> aria-hidden #}
{# - When a title is provided, the heading level must be provided #}
<article class="card">
    {%if params.imageUrl%}
        <img aria-hidden="true" src="{{imageUrl}}" alt="{{imageAlt}}"/>
    {%endif%}
    {# Dynamic heading level #}
    {%if title%}
        <{{headingElement}}>
            <a href="{{url}}">
                {{title}}
            </a>
        </{{headingElement}}>
    {%endif%}
    {# Short excerpt #}
    {%if description%}
        <p itemprop="description">{{description}}</p>
    {%endif%}
    {# Publication time #}
    {%if time%}
        <time datetime="{{time}}" itemprop="datePublished">{{time}}</time>
    {%endif%}
</article>
