{# Default values #}
{% set headingElement = (params.headingElement | enforce) if params.title %}
{% set element = params.element or 'li'%}
{% set imageAlt = params.imageAlt or ''%}
{% set url = params.url or '#' %}
{# Optional Values #}
{% set description = params.description %}
{% set title = params.title %}
{% set time = params.time %}
{% set imageAlt = params.imageUrl%}


{# Component template #}
{# - The image is considered decorative as the title already provides enough information. Avoid redundant content -> aria-hidden #}
{# - When a title is provided, the heading level must be provided #}
<li class="card">
    {%if params.imageUrl%}
        <img aria-hidden="true" src="{{params.imageUrl}}" alt="{{imageAlt}}"/>
    {%endif%}
    <div class="card__text">
    {# Dynamic heading level #}
    {%if title%}
        <{{headingElement}}>
            <a href="{{url}}">
                {{title}}
            </a>
        </{{headingElement}}>
    {%endif%}
    {# Short excerpt #}
    {%if description%}
        <p itemprop="description">{{description}}</p>
    {%endif%}
    {# Publication time #}
    {%if time%}
        <time datetime="{{time}}" itemprop="datePublished">{{time}}</time>
    {%endif%}
    </div>
</{{element}}>
