{%- from "components/component.njk" import component -%}
<!DOCTYPE html>
<html lang="{{site.language}}">
    <head>
        {% include "partials/head.partial.njk" %}
    </head>
    <body>
        <header>
            {% include "partials/navigation.partial.njk" %}
        </header>
        <main id="main-content">
            {% block content %}
                {{ content | safe }}
            {% endblock %}
        </main>
        <footer>
            {% include "partials/footer.partial.njk" %}
        </footer>
    </body>
</html>