{# Required values #}
{% set inputId = params.inputId | enforced %}
{% set inputName = params.inputName %}
{% set label = params.label %}
{# Optional values #}
{% set inputType = params.inputType or "text" %}
{% set required = params.required %}
{% set autocomplete = params.autocomplete %}

{# Mark optional fields instead of required ones #}
<label for="{{ inputId }}">
    {{ label | enforced }}
    {% if not required %}
        <span class="sr-only">(Optional)</span>
    {% endif %}
</label>
<input type="{{ inputType }}" id="{{ inputId }}" name="{{ inputName | enforced }}" {% if autocomplete %} autocomplete="{{ autocomplete }}" {% endif %} {% if required %} required {% endif %}>