{# Required values #}
{% set inputId = params.inputId | enforce %}
{% set inputName = params.inputName | enforce %}
{% set label = params.label | enforce %}
{# Optional values #}
{% set inputType = params.inputType or "text" %}
{% set required = params.required %}
{% set autocomplete = params.autocomplete %}

{# Mark optional fields instead of required ones #}
<label for="{{ inputId }}">
    {{ label }}
    {% if not required %}
        <span class="sr-only">(Optional)</span>
    {% endif %}
</label>
<input type="{{ inputType }}" id="{{ inputId }}" name="{{ inputName }}" {% if autocomplete %} autocomplete="{{ autocomplete }}" {% endif %} {% if required %} required {% endif %}>