---
    title: Enforcing HTML practices
    tags: 
        - navigation
    permalink: "/"
---

{% extends "layouts/base.layout.njk" %}
{% block content %}
    <hgroup>
        <h1>{{ title }}</h1>
        <p>{{ site.description }}</p>
    </hgroup>
    {# {{ component('button', {label: 'Hello', type: 'button'}) }}
    {{ component(
        'link', {label: "I am a link", href: "/", page: page}
    ) }} #}
{% endblock %}