---
    title: Enforcing HTML practices
    description: Showcasing various implementations of enforcing components in EleventyS
    tags: 
        - navigation
    permalink: "/"
---

{% extends "layouts/base.layout.njk" %}
{% block content %}
    <hgroup>
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
    </hgroup>
    <section>
        <h2>Button components</h2>
        {{ component('button', {label: 'Hello', type: 'button'}) }}
    </section>
    <section>
        <h2>Link components</h2>
        <nav>
            {{ component('link', {label: "Go to about page", href: "/about", page: page}) }}
        </nav>
    </section>
    <section>
        <h2>Card components</h2>
        {{ component("card", {title: "Home", url: "/", headingElement: "h3", description: "Components showcase", imageAlt:"Homes"}) }}
        {{ component("card", {title: "About", url: "/about", headingElement: "h3", description: "Links and attributions"} ) }}
    </section>
    <section>
        <h2>Field components</h2>
        <form name="showcase">
            {{ component("field", {label: "Email", inputId: "email", inputType: "email", inputName: "email", required: false}) }}
            {{ component("field", {label: "Name", inputId: "name", inputType: "text", inputName: "name", required: true}) }}
            {{ component("field", {label: "Password", inputId: "password", inputType: "password", inputName: "password", required: true}) }}
            {{ component('button', {label: 'Submit', type: 'submit'}) }}
        </form>
    </section>
{% endblock %}