<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block title %}
  {% if page.url == '/' %}
    {% set page_title %}{{ site.title }}, {{ site.description }}{% endset %}
  {% else %}
    {% set page_title %}{{ title }} — {{ site.title }}{% endset %}
  {% endif %}
  <title>{{ page_title }}</title>
  <meta property="og:title" content="{{ page_title }}" />
{% endblock %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">